@import "bootstrap/scss/functions";

$enable-shadows: true;

$primary: #714b67;
$secondary: #017e84;

$font-size-root: 10px;
$font-size-base: 1.6rem;
$headings-font-weight:  700;

$grid-gutter-width: 2rem;
$border-radius: 0.5rem;

$nav-link-padding-x: 2rem;
$nav-link-padding-y: 1rem;

// cards
//------
$card-spacer-x: 2rem;
$card-spacer-y: 2rem;

$card-border-radius:  1rem;

$card-cap-padding-y: 0;
$card-cap-padding-x: 2rem;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

$light: $gray-200;

$card-box-shadow: $box-shadow-lg;

$nav-link-color: $secondary;

$nav-pills-link-active-bg: $light;
$nav-pills-link-active-color: $dark;

$nav-underline-link-active-color: $primary;
$nav-underline-border-width: 0.2rem;

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 2,
  5: $spacer * 3,
);

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "max-width": (
      property: max-width,
      class: mw,
      values: (600: 600px),
    )
  )
);
$utilities: map-merge(
  $utilities,
  (
    "max-height": (
      property: max-height,
      class: mh,
      values: (1: 200px, 2: 100%),
    )
  )
);

// Layout & components
@import "bootstrap/scss/containers";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/card";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

// custom mixins
@import "./mixins/utilities";

